<div class="row">
  <div class="col-md-8 offset-md-2 mt-5">
    <div class="card">
      <div class="card-body">

        <h5 class="card-title">
          <div class="d-flex justify-content-between">
            <span class="text-primary">Modifier le client</span>
            <a class="btn btn-secondary btn-sm" routerLink="/clients">Retour à la liste</a>
          </div>
        </h5>

        <form class="row mt-5" #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm)">

          <!-- NOM -->
          <div class="mb-3 col-md-6">
            <label class="form-label">Nom du client</label>
            <input type="text"
                   class="form-control"
                   name="name"
                   [(ngModel)]="clientData.name"
                   required minlength="3"
                   #name="ngModel">

            <div class="text-danger" *ngIf="name.invalid && name.touched">
              <small *ngIf="name.errors?.['required']">Le nom est requis</small>
              <small *ngIf="name.errors?.['minlength']">Minimum 3 caractères</small>
            </div>
          </div>

          <!-- EMAIL -->
          <div class="mb-3 col-md-6">
            <label class="form-label">Email</label>
            <input type="email"
                   class="form-control"
                   name="email"
                   [(ngModel)]="clientData.email"
                   required email
                   #email="ngModel">

            <div class="text-danger" *ngIf="email.invalid && email.touched">
              <small *ngIf="email.errors?.['required']">L'email est requis</small>
              <small *ngIf="email.errors?.['email']">Format invalide</small>
            </div>
          </div>

          <!-- TELEPHONE -->
          <div class="mb-3 col-md-6">
            <label class="form-label">Téléphone</label>
            <input type="tel"
                   class="form-control"
                   name="phone"
                   [(ngModel)]="clientData.phone"
                   #phone="ngModel">
          </div>

          <!-- LOCALISATION -->
          <div class="mb-3 col-md-6">
            <label class="form-label">Localisation</label>
            <input type="text"
                   class="form-control"
                   name="localisation"
                   [(ngModel)]="clientData.localisation"
                   #localisation="ngModel">
          </div>

          <!-- PAYS -->
          <div class="mb-3 col-md-6">
            <label class="form-label">Pays</label>
            <input type="text"
                   class="form-control"
                   name="country"
                   [(ngModel)]="clientData.country"
                   #country="ngModel">
          </div>

          <!-- SEXE -->
          <div class="mb-3 col-md-6">
            <label class="form-label">Sexe</label>
            <select name="sexe"
                    [(ngModel)]="clientData.sexe"
                    required
                    #sexe="ngModel"
                    class="form-control">

              <option value="">Sélectionnez le sexe</option>
              <option value="male">Masculin</option>
              <option value="female">Féminin</option>
            </select>

            <div class="text-danger" *ngIf="sexe.invalid && sexe.touched">
              <small>Le sexe est requis</small>
            </div>
          </div>

          <!-- BOUTON -->
          <div class="col-md-6">
            <button type="submit"
                    class="btn btn-primary"
                    [disabled]="clientForm.invalid">
              Modifier le client
            </button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
