<!-- 🔷 CONTENU -->
<div class="container mt-4">

  <!-- HEADER -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h4>Groupes</h4>

    <!-- 🔘 BOUTON CREER -->
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#categoryModal">
      + Créer un groupe
    </button>
  </div>

  <!-- 🔷 LISTE EN CARDS  && groupes.length > 0 -->

  <div class="row g-4" *ngIf="groupes$ | async as groupes; else noGroupes">

    <!-- CARD -->
    <div class="col-md-4" *ngFor="let groupe of groupes">
      <div class="card p-3">
        <div class="d-flex justify-content-between">
          <h5>{{groupe.libelle}}</h5>
        </div>

        <p class="text-muted">
          {{groupe.description}}
        </p>

        <p class="fw-bold">
          👤
          100 membres
        </p>

        <div class="d-flex justify-content-end gap-2">
          <a [routerLink]="['/category', groupe.id, 'manage']" class="btn btn-sm btn-outline-secondary">Gérer</a>
          <button class="btn btn-sm btn-outline-danger">Supprimer</button>
        </div>
      </div>
    </div>

  </div>

  <ng-template #noGroupes>
    <p class="text-center text-muted">Aucune catégorie disponible</p>
  </ng-template>


</div>

<!-- 🔷 MODAL CREATION -->
<div class="modal fade" id="categoryModal">
  <div class="modal-dialog modal-dialog-centered">
    <form #groupeForm="ngForm" (ngSubmit)="onSubmit(groupeForm)" class="modal-content">

      <!-- HEADER -->
      <div class="modal-header">
        <h5 class="modal-title">Créer un groupe</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- BODY -->
      <div class="modal-body">

        <!-- LIBELLE -->
        <input
          class="form-control mb-2"
          placeholder="Titre"
          name="libelle"
          ngModel
          required
          minlength="3"
          #libelle="ngModel">

        <div class="text-danger" *ngIf="libelle.invalid && libelle.touched">
          <span *ngIf="libelle.errors?.['required']">Le titre est requis</span>
          <span *ngIf="libelle.errors?.['minlength']">Minimum 3 caractères</span>
        </div>

        <!-- DESCRIPTION -->
        <!--textarea
          class="form-control mb-2"
          placeholder="Description"
          name="description"
          ngModel>
        </textarea-->

        <!-- TYPE -->
        <!--select
          class="form-select"
          name="type"
          ngModel
          required
          #type="ngModel">

          <option value="">Type de groupe</option>
          <option value="user">User</option>
          <option value="message">Message</option>
        </select>

        <div class="text-danger" *ngIf="type.invalid && type.touched">
          <span *ngIf="type.errors?.['required']">Le type est requis</span>
        </div-->

        <!-- COLOR -->
        <input
          type="color"
          name="color"
          ngModel
          #color="ngModel"
          class="form-control form-control-color mt-2">

        <div class="text-danger" *ngIf="color.invalid && color.touched">
          <span *ngIf="color.errors?.['required']">La couleur est requise</span>
        </div>

      </div>

      <!-- FOOTER -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Annuler ou Fermer
        </button>

        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="groupeForm.invalid">
          Créer
        </button>
      </div>

    </form>
  </div>
</div>

