<div class="row">
  <div class="col-md-8 offset-md-2 mt-5">
    <div class="card">
      <div class="card-body">

        <h5 class="card-title">
          <div class="d-flex justify-content-between">
            <span class="text-primary" >Créer un nouveau client</span>
            <a class="btn btn-secondary btn-sm" routerLink="/clients">Retour à la liste</a>
          </div>
        </h5>
        <form class="row mt-5" #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm)">
          <div class="mb-3 col-md-6">
            <label for="clientName" class="form-label">Nom du client</label>
            <input type="text" class="form-control" id="clientName"  required minlength="3" name="name" ngModel #name="ngModel" placeholder="Entrez le nom du client">

            <div class="text-danger" *ngIf="name.invalid && name.touched">
              <small *ngIf="name.errors?.['required']">Le nom est requis</small>
              <small *ngIf="name.errors?.['minlength']">Minimum 3 caractères</small>
            </div>

          </div>

          <div class="mb-3 col-md-6">
            <label for="clientEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="clientEmail" name="email" ngModel required email #email="ngModel" placeholder="Entrez l'email du client">
            <div class="text-danger" *ngIf="email.invalid && email.touched">
              <small *ngIf="email.errors?.['required']">L'email est requis</small>
              <small *ngIf="email.errors?.['email']">Format d'email invalide</small>
            </div>
          </div>

          <div class="mb-3 col-md-6">
            <label for="clientPhone" class="form-label">Téléphone</label>
            <input type="tel" class="form-control" id="clientPhone" name="phone" ngModel #phone="ngModel" placeholder="Entrez le numéro de téléphone du client">
            <div class="text-danger" *ngIf="phone.invalid && phone.touched">
              <small *ngIf="phone.errors?.['required']">Le numéro de téléphone est requis</small>
            </div>
          </div>

          <div class="mb-3 col-md-6">
            <label for="clientPhone" class="form-label">Localisation</label>
            <input type="tel" class="form-control" id="clientPhone" name="localisation" ngModel #localisation="ngModel" placeholder="Entrez la localisation du client">
            <div class="text-danger" *ngIf="localisation.invalid && localisation.touched">
              <small *ngIf="localisation.errors?.['required']">La localisation est requise</small>
            </div>
          </div>

          <div class="mb-3 col-md-6">
            <label for="clientPhone" class="form-label">Pays</label>
            <input type="tel" class="form-control" id="clientPhone" name="country" ngModel #country="ngModel" placeholder="Entrez le pays du client">
            <div class="text-danger" *ngIf="country.invalid && country.touched">
              <small *ngIf="country.errors?.['required']">Le pays est requis</small>
            </div>
          </div>

          <div class="mb-3 col-md-6">
            <label for="clientPhone" class="form-label">Sexe</label>
            <select name="clientSex" id="clientSex"  name="sexe" required ngModel #sexe="ngModel" class="form-control">
              <option value="">Sélectionnez le sexe</option>
              <option value="male">Masculin</option>
              <option value="female">Féminin</option>
            </select>
            <div class="text-danger" *ngIf="sexe.invalid && sexe.touched">
              <small *ngIf="sexe.errors?.['required']">Le sexe est requis</small>
            </div>
          </div>

          <div class="col-md-6">
            <button type="submit" class="btn btn-primary btn-bloc" [disabled]="clientForm.invalid">Créer mon client</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
