<div class="container mt-4">
<h4 class="mb-4">📊 Tableau de bord</h4>

<div class="text-end mb-3">
  <button class="btn btn-dark"
          (click)="generateDemoData()">
    ⚡ Générer des données de démonstration
  </button>
</div>

<div class="alert alert-info">
  👋 Bonjour <strong>{{ user?.firstname }}</strong>,
  vous êtes connecté en tant que
  <strong>{{ user?.type === 'MORAL' ? 'Entreprise' : 'Particulier' }}</strong>.
</div>

  <!-- STATS -->
  <div class="row g-4" *ngIf="stats$ | async as stats">

    <!-- CATEGORIES -->
    <div class="col-md-3">
      <div class="card p-3 text-center">
        <div class="stat-icon">📁</div>
        <h5 class="mt-2">Catégories</h5>
        <h3>{{ nombreGroupes }}</h3>
      </div>
    </div>

    <!-- MESSAGES -->
    <div class="col-md-3">
      <div class="card p-3 text-center">
        <div class="stat-icon">💬</div>
        <h5 class="mt-2">Messages</h5>
        <h3>{{ nombreMessagesEnvoyes }}</h3>
      </div>
    </div>

    <!-- ABONNEMENTS -->
    <div class="col-md-3">
      <div class="card p-3 text-center">
        <div class="stat-icon">👥</div>
        <h5 class="mt-2">Clients</h5>
        <h3>{{ nombreClients }}</h3>
      </div>
    </div>

    <!-- NOTIFICATIONS -->
    <div class="col-md-3">
      <div class="card p-3 text-center">
        <div class="stat-icon">🔔</div>
        <h5 class="mt-2">Notifications</h5>
        <h3>{{ nombreNotifications }}</h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 text-center">
      <!-- ACTIONS RAPIDES -->
      <div class="card mt-4 p-3">
        <h5>⚡ Actions rapides</h5>

        <div class="d-flex justify-content-center gap-3 mt-3">
          <routerLink class="btn btn-primary" [routerLink]="['/messages']">Voir mes messages</routerLink>
          <routerLink class="btn btn-outline-primary" [routerLink]="['/category']">Voir mes groupes</routerLink>
          <routerLink class="btn btn-warning" [routerLink]="['/clients']">Voir mes clients</routerLink>
          <routerLink class="btn btn-success" [routerLink]="['/messages-create']">Envoyer un nouveau message</routerLink>
        </div>
      </div>
    </div>
  </div>
</div>
